name: main

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

on:
  push:
  pull_request:

jobs:
  build:
    if: ${{ github.event_name != 'push' || github.ref != 'refs/heads/master'}}
    runs-on: windows-2022

    env:
      MSYS: enable_pcon

    steps:
      - uses: actions/checkout@v3
        with:
          path: temp
          fetch-depth: 0

      # to match the autobuild environment
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - uses: msys2/setup-msys2@v2
        with:
          msystem: MSYS
          install: VCS base-devel pactoys
          update: true

      - name: Move Checkout
        run: |
          Copy-Item -Path ".\temp" -Destination "C:\_" -Recurse

      - name: CI-Build
        shell: msys2 {0}
        run: |
          cd /C/_
          ./.ci/ci-build.sh

      - name: CI-Sign
        shell: msys2 {0}
        env:
          GPG_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
        run: |
          cd /C/_
          ./.ci/ci-sign.sh

      - name: CI-Rsync
        shell: msys2 {0}
        env:
          SSH_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SSH_USER: ${{ secrets.SSH_USER }}
          SSH_HOST: ${{ secrets.SSH_HOST }}
        run: |
          cd /C/_
          ./.ci/ci-rsync.sh

      - name: "Upload binaries"
        uses: actions/upload-artifact@v3
        with:
          name: msys2-packages
          path: C:/_/msys2-artifacts/*.pkg.tar.*

      - name: "Upload sources"
        uses: actions/upload-artifact@v3
        with:
          name: sources
          path: C:/_/msys2-artifacts/*.src.tar.*

      - name: "Upload posix binaries"
        uses: actions/upload-artifact@v3
        with:
          name: posix-packages
          path: C:/_/posix-artifacts/*.pkg.tar.*
